@import '../../../variables.scss';

.dialog-container {
  background-color: rgb(0, 0, 0, 0.95);
}

.dialog-titulo {
  color: $kinda-primary;
}

.video-container {
  margin: 20px 0;
}

.video-frame {
  aspect-ratio: 16 / 9;
  width: 100%;
}

p {
  color: #ffffff;
}

button p {
  color: $kinda-primary;
}