<div class="dialog-container">
  <mat-dialog-content>
    <h3 class="dialog-titulo">Remo T con triángulo</h3>
    
    <div class="video-container">
      <iframe class="video-frame" src="https://www.youtube.com/embed/pSy6Dn5QEdI?si=FKnAPLOT1Xs9TFAl" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="p3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      <p class="p3">
        Salir
      </p>
    </button>
  </mat-dialog-actions>
</div>