<div class="info-usuario">
  <mat-icon class="foto">account_circle</mat-icon>
  <h5>Andrés Hernández</h5>
  <mat-icon>edit</mat-icon>
</div>

<div class="membresia">
  <h3>Membresía</h3>
  <p><strong>Fecha de Vencimiento:</strong></p>
  <p class="p2">Jueves 03 de octubre 2024</p>
  <p><strong>Estado:</strong></p>
  <p class="p2">Activa</p>
  <div class="renovar-container">
    <button mat-button>
      <p class="p2">Renovar membresía</p>
    </button>
  </div>
</div>

<div class="opcion">
  <p>Información</p>
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div class="opcion">
  <p>Medidas</p>
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div class="opcion">
  <p>Clases</p>
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>