@import '../../../variables.scss';

.info-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin: auto;
  padding: 15px;

  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $kinda-primary;
    font-size: 70px;
    width: 63px;
    height: 63px;
  }

  mat-icon {
    flex-shrink: 0;
  }
}

.titulo-usuario {
  --mat-tab-header-inactive-label-text-color: #ffffff;
}

.membresia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: $kinda-primary;
  border-radius: 7px;
  color: #ffffff;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
}

.renovar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  button {
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 5px;
  }
}

.opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $kinda-primary;
  border-radius: 7px;
  color: #ffffff;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
}