
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


$primary-palette: (
  50 : #f6fae8,
  100 : #e7f2c6,
  200 : #d8e9a0,
  300 : #c8e07a,
  400 : #bcd95e,
  500 : #b0d241,
  600 : #a9cd3b,
  700 : #a0c732,
  800 : #97c12a,
  900 : #87b61c,
  A100 : #f9ffec,
  A200 : #e8ffb9,
  A400 : #d8ff86,
  A700 : #cfff6d,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$accent-palette: (
  50 : #eeeeef,
  100 : #d5d5d7,
  200 : #b9babc,
  300 : #9d9ea1,
  400 : #88898d,
  500 : #737479,
  600 : #6b6c71,
  700 : #606166,
  800 : #56575c,
  900 : #434449,
  A100 : #afbbf9,
  A200 : #7f93f5,
  A400 : #4262ff,
  A700 : #294cff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$my-primary-palette: mat.m2-define-palette($primary-palette);
$my-accent-palette: mat.m2-define-palette($accent-palette);

// Define the theme object.
$app-theme: mat.m2-define-light-theme((
  color: (
    theme-type: light,
    primary: $my-primary-palette,
    accent: $my-accent-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($app-theme);
/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

@font-face {
  font-family: 'AcuminPro';
  src: url('/assets/fonts/AcuminPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('/assets/fonts/AcuminPro-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('/assets/fonts/AcuminPro-Light.ttf') format('ttf');
  font-weight: lighter;
  font-style: normal;
}

html, body { height: 100%; background-color: rgb(0, 0, 0, 0.8); color: #ffffff; }
body { margin: 0; }
h1, h2, h3, h4, h5, h6 { font-family: "AcuminPro", sans-serif; font-weight: bold; font-stretch: expanded; margin: 0; }
p, span { font-family: "AcuminPro", sans-serif; font-weight: normal; font-stretch: expanded; margin: 0; }
.p2 { font-size: 0.9rem; }
.p3 { font-size: 0.8rem; }
.p4 { font-size: 0.7rem; }
.p5 { font-size: 0.6rem; }

.icon-p3 {
  font-size: 1rem;
  width: 1rem !important;
  height: 1rem !important;
  margin-left: 2px;
}

.align-start {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
}

.align-end {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  width: 100%;
}

.romboide {
  background-color: #252526;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0;
  clip-path: polygon(30px 0px, 0 100%,  calc(100% - 30px) 100%, 100% 0);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;

  * {
    margin: auto 30px;
  }
}