$primary-color: #b0d241;
$kinda-primary: #99b63f;
$darker-primary: #587F2B;
$secondary-color: #737479;
$warn-color: #f44336;
$font-family-title: 'Raleway', sans-serif;
$font-family-body: 'Lato', sans-serif;