@import '../../../variables.scss';

.romboide {
  width: 90%;
}

.fecha {
  margin: 10px 0;
}

.dias-semana {
  width: 85%;
  margin: 0 auto;
}

.dia {
  background-color: $secondary-color;
  border-radius: 7px;
  width: 100%;
  height: 100%;
}

.dia button {
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: #ffffff;
  height: 100%;
}

.dia-activo {
  background-color: $kinda-primary;
}

.hay-rutina {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.ver-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  button {
    display: flex;
    justify-content: center;
    background-color: $kinda-primary;
    border-radius: 7px;

    mat-icon {
      color: #ffffff;
      font-size: 2rem;
      width: 2rem !important;
      height: 2rem !important;
      margin: 0;
    }
  }
}

.calendario-container {
  width: 85%;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

$kinda-primary: #99b63f;
$darker-primary: #587F2B;
.calendario {
  border: 1px solid $kinda-primary;
  border-radius: 7px;


  --mat-datepicker-calendar-period-button-text-color: #ffffff;
  --mat-datepicker-calendar-period-button-icon-color: #ffffff;

  --mat-datepicker-calendar-header-text-color: #ffffff;

  --mat-datepicker-calendar-header-divider-color: #99b63f;

  --mat-datepicker-calendar-body-label-text-color: #ffffff;

  --mat-datepicker-calendar-date-text-color: #ffffff;

  --mat-datepicker-calendar-date-today-outline-color: #587F2B;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: #99b63f;

  --mat-datepicker-calendar-date-selected-state-background-color: #99b63f;
  --mat-datepicker-calendar-date-selected-state-text-color: #ffffff;
}

.show-calendar {
  max-height: 500px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 85%;
  margin: auto;

  .timer-progreso {
    display: flex;
    justify-content: center;
    background-color: $kinda-primary;
    border-radius: 7px;
    padding: 5px 15px;
  }

  .timer-botones {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      border: 1px solid $kinda-primary;
      color: $kinda-primary;
      padding: 0 15px;
    }

    p {
      color: $kinda-primary;
    }
  }
}

.serie {
  margin: 20px 0;
}

.serie-numero {
  display: flex;
  justify-content: start;
  width: 85%;
  margin: auto;
}

.ejercicio {
  position: relative;
  background-color: $kinda-primary;
  border-radius: 10px;
  width: 85%;
  margin: 10px auto;
  padding: 15px 15px;
}

.ejercicio-video {
  position: absolute;
  bottom: 5px;
  right: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  width: 100%;
  margin-top: 10px;

  p {
    text-decoration: underline;
    padding: 5px 0;
  }
}

.instruccion-pregunta {
  display: flex;
  justify-content: start;
  align-items: center;
}